/*==================================================
REACTOR
==================================================*/

@keyframes reactorPulse{

0%,100%{

transform:scale(1);

filter:brightness(1);

}

50%{

transform:scale(1.08);

filter:brightness(1.35);

}

}




/*==================================================
FLOATING
==================================================*/

@keyframes floating{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

}


/*==================================================
STATUS
==================================================*/

@keyframes blinkStatus{

0%,100%{

opacity:1;

}

50%{

opacity:.25;

}

}


/*==================================================
PROGRESS BAR
==================================================*/

@keyframes progressGlow{

0%{

filter:brightness(.8);

}

50%{

filter:brightness(1.8);

}

100%{

filter:brightness(.8);

}

}



/*==================================================
MARQUEE
==================================================*/

@keyframes marquee{

from{

transform:translateX(0);

}

to{

transform:translateX(-50%);

}

}



/*==================================================
SOLUTION SCAN
==================================================*/

@keyframes solutionScan{

0%{

left:-120%;

}

100%{

left:150%;

}

}