.terminal-ring-2{

width:610px;

height:610px;

border:1px dashed rgba(99,232,255,.15);

}




.terminal-ring-3{

width:700px;

height:700px;

border:1px solid rgba(99,232,255,.08);

}
